body {
  background-image: url(code_1.jpg)
}

h1 {
    font-family: 'Montserrat';font-size: 35px;
    text-align: center;
    padding: 170px 0;
    text-shadow: 4px 4px rgb(6, 255, 89), 8px 7px #155fff, 0px 0px 10px black;
    color:red;
}
